.panel.panel-default
  .panel-heading
    %h3
      Information
  .panel-body
    %dl
      %dt
        Name
      %dd
        This is the name of your widget and will appear as the Title on the dashboard.
      %dt
        Active
      %dd
        This check box determines whether or not the widget is displayed on the dashboard.
      %dt
        Size
      %dd
        This is the size that the widget will be displayed as.
      %dt
        Order
      %dd
        This controls the placement of the widget relative to other widgets.  The order is left to right, and then the wrap to additional rows.
      %dt
        Display Type
      %dd
        This determines the nature of the widget display.