.pull-right{style: 'margin-bottom: 5px;'}
  = simple_form_for :time_series, url: refresh_dashboards_path, html: { class: 'form-inline' }, method: :put  do |f|
    = f.input :limit, collection: [['last 50 values', 50],['last 100 values', 100],['last 500 values',500]], selected: @limit, input_html: { class: 'input-sm' }
    = f.button :submit, 'Apply', class: 'btn btn-default btn-sm'
