.container
  .row
    .col-md-12
      %h1.text-center
        = @title || "My Dashboard"
      .small
        Refreshed at:
        = Time.zone.now
        - if @title.nil?
          = render partial: 'dashboards/change_period'
  .row
    - @widgets.each do |widget|
      = render_widget widget, @widget_charts[widget.id]
