- content_for :head do
  %meta{ 'http-equiv':'refresh', content:'30' }
.container
  .row
    .col-md-12
      %h1
        = @title || "My Dashboard"
      .small
        Refreshed at:
        = Time.zone.now
  .row
    - @widgets.each do |widget|
      = render_widget widget, @widget_charts[widget.id]
